html, body, #container {
	height: 100%;
	overflow: hidden;
	width: 100%;
  }
  body {
	/* height of .navbar, customize with @navbar-height variable */
	padding-top: 50px;
  }

  .navbar {
	min-height: 50px;
  }


  #map {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	height: 100%;
	width: auto;
  }

#mapid { width: 600px; height: 400px;}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,1);
	box-shadow: 0 0 15px rgba(0,0,0,0);
	border-radius: 5px;
  }
  .info h3 {
	margin-top: 0;
	margin-bottom: 5px;
	color: #000;
  }
  .legend {
	text-align: left;
	line-height: 18px;
	color: #555;
  }
  .legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.9;
  }

  img {
	height: 100%; width: 100%; object-fit: contain'
  }


  .leaflet-container a {
	  color:black;
	  font-weight: bolder;
  }

.navbar-logo{
	display:block;
	width: 107px;
	height: 50px;
	background: url(../img/pureMichiganLogoDark_xsmall_.png) no-repeat;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	margin:0 auto;
}